body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    overflow-x: hidden;
}

.container {
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 90%;
}

.text {
    font-size: 1.3rem;
    padding: 10px;
    font-weight: bold;
    color:  #2d7d5f;
}

h1 {
    text-align: center;
    color: #2d7d5f;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

form div {
    width: 40%;
}

div label {
    display: block;
    margin-top: 5px;
    color: #555;
}
input {
width: 100%; 
}

input, select, textarea, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    outline: none;
}

form div.all {
    width: 100%;
    margin: 1rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.all2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all2 div {
    width: 45%;
    margin: 20px;
}
.all2 div textarea {
    width: 100%;
    height: 80px;
    border-radius: 6px;
    text-align: center;
}
button:hover {
    background-color: #0056b3;
}

textarea {
    resize: vertical;
}

.hidden {
    display: none;
}

#services-list ul {
    list-style-type: none;
    padding: 0;
}

#services-list li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#services-list li:hover {
    background-color: #f0f0f0;
}

#service-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.done {
    font-size: 1.35rem;
    width: 100%;
    background-color: seagreen;
}
.sev {
    background-color: #153b2614;
    margin: 2rem;
    padding: 1rem;
    border-radius: 6px;
}
.show-services {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    background: seagreen;
    font-weight: bold;
    margin: 0 80%;
    font-size: 1.4rem;
}
.show-services:hover ,
.done:hover {
    background-color: #1f7f49;
}

#services-list {
    background-color: #ccc;
    color: white;
    border-radius: 15px;
    margin: 1rem;
    padding: 1rem;
    width: 230%;
}

#services-list ul .li {
    font-size: 1.3rem;
    border: none;
    background: seagreen;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
}

#service-details {
    font-size: 1.3rem;
    border: none;
    background: #1f7f49;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    color: white;
}

#services-list ul li:hover {
    background-color: rgb(47, 59, 63);
}

.clicked {
    font-size: 1.3rem;
    border: none;
    background: rgb(47, 59, 63);
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
}

select {
    padding: 10px;
    border-radius: 6px;
    margin: 12px;
    font-size: 1.15rem;
    background-color: #ccc;
}
select#vulnability {
    width: 70%;
    height: 200px;
}
select#payment-method {
    width: 30%;
}
::placeholder {
    width: 60%;
}
input:focus {
    border: 1px solid seagreen;
}
.count-service {
    text-align: left;
    color: seagreen;
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 6%;
}
.p-vuln {
    background: #ddd;
    width: 60%;
    /* width: fit-content; */
    text-align: center;
    padding: .7rem;
    margin: .5rem;
    border-radius: 6px;
    font-weight: 700;
    margin-left: 150%;
    margin-top: -2%;
    z-index: -1;
    /* display: none; */
    transition: .3s;
}
select#vulnability:hover + .p-vuln {
    margin-left: 30%;
} 

@media (min-width:767px) and (max-width:991px) {    
    #services-list {
        width: 225%;
    }

    #services-list ul .li {
        margin: .5rem;
        padding: .8rem;
    }
}

@media (max-width:767px) {
    input, select, textarea, button {
        width: 90%;
    }
    .show-services {
        max-width: 100%;
        margin-left: 1%;
        margin-left: 10%;
        width: 80%;
}
    form div {
        width: 95%;
    }
    form div.all {
        margin: .3rem;
    }
    .all2 {
        display: block;
        margin-right: -4rem;
    }
    .all2 div {
        width: 90%;
        max-width: 100%;
        margin-left: 1%;
    }
    ::placeholder {
        width: 100%;
        letter-spacing: 2px;
    }
    select#vulnability {
        width:100%;
    }
    #services-list {
        width: 90%;
        margin-left: 3%;
    }
    #services-list ul .li {
        margin: .5rem;
        padding: .6rem;
    }
} 
